<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Escalater Incident Reports</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>

<!-- Image and text -->
<nav class="navbar navbar-dark bg-faded">
    <h2> <img src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/000/476/299/datas/gallery.jpg" width="55" height="40" class="d-inline-block align-top" alt=""> Escalater </h2>
</nav>
<div class="row">
	<div class="col-md-8 col-md-offset-3">
		<h2> Incident Reports </h2>

		<div class="card card-outline-primary mb-3" style="width: 50rem;">
			<div class="card-header"> <h3> Escalater Team </h3>
		  </div>
		  <div class="card-block">
		    <p class="card-text">Find below all incidents reported for Escalater team.</p>

		  </div>

			<ul class="list-group">
				<% temp[1] %>

				<% for (var i = 0; i <= temp.length; i++) { %>
					<li class="list-group-item"> <%= temp[i] %> </li>

				<% } %>

			</ul>

		</div>
	</div>
</div>


</body>

</html>